<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- Thêm Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron d-flex flex-column justify-content-center align-items-center h-100">
                <div class="display-4 mb-4">Login</div>
                <form th:action="@{/loginStrava}" method="post">
                    <!-- Existing form fields -->
                    <div class="form-group">
                        <label for="clientId">Client ID</label>
                        <input type="text" id="clientId" name="clientId" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="clientSecret">Client Secret</label>
                        <input type="password" id="clientSecret" name="clientSecret" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login with Strava</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Thêm Bootstrap JS và jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>